<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://tanaysoley.com/ns/1.0"
	id        = "com.tanaysoley.tandomng"
	version   = "1.0.0">

	<name>Random NG</name>

	<description>
		Random NG generates random numbers between 0 and 99 (both inclusive)
	</description>

	<author href="http://tanaysoley.blogspot.com" email="tanaysoley@gmail.com">
		Tanay Soley
	</author>
</widget>